<mat-card>
  <mat-card-title>
    {{ word?.category }}
    <h5>
      <b>{{ wonRounds }}</b
      >/{{ roundToTal }}
    </h5>
  </mat-card-title>
  <mat-card-subtitle>PONTOS: {{ word?.point }}</mat-card-subtitle>
  <div>
    <app-input [value]="wordInput"></app-input>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button
        mat-button
        *ngFor="let letter of alphabet"
        (click)="validateLetter(letter)"
        [class.valid]="letter.valid && letter.select"
        [class.invalid]="!letter.valid && letter.select"
        [class.pressed]="letter.select"
      >
        {{ letter.char }}
      </button>
    </mat-card-actions>
  </div>
</mat-card>
