mat-card {
  width: 40vw;
}

mat-card-actions {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  margin: 0 10px;

  button {
    cursor: pointer;
    padding: 0 8px;
    border: none;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
    color: #3b4c42;
    background: transparent;
    min-width: fit-content;
    margin: 0;

    &.pressed,
    &:hover {
      background: #dbdbdb5c;
      color: #9b9b9b;
    }

    &.invalid {
      color: #ffaca6;
    }

    &.valid {
      color: #44d43a;
    }

    .mat-button-ripple.mat-ripple,
    .mat-button-focus-overlay {
      width: auto;
    }
  }
}

@media (max-width: 900px) {
  mat-card-actions {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 800px) {
  mat-card {
    width: calc(100% - 32px);
  }
}
