<mat-card>
  <mat-card-title>{{ word?.category }}</mat-card-title>
  <mat-card-subtitle>Selecione a letra que deseja verificar.</mat-card-subtitle>
  <div *ngIf="word">
    <app-input [value]="updateWordInput()"></app-input>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button
        mat-button
        *ngFor="let letter of alphabet"
        (click)="validateLetter(letter)"
        [class.valid]="letter.valid && letter.select"
        [class.invalid]="!letter.valid && letter.select"
        [class.pressed]="letter.select"
      >
        {{ letter.char }}
      </button>
    </mat-card-actions>
  </div>
</mat-card>
