.container {
  width: 25vw;
}

.mat-card-actions button.mat-button {
  background: #64c75d;
  color: white;
  margin: 8px;
  width: calc(100% - 16px);

  &.mat-button-disabled.mat-button-disabled {
    background: #bdbdbd;
  }
}

ul {
  padding-left: 15px;

  li {
    list-style: decimal;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 500;

    &::marker {
      font-weight: 600;
      color: #325742;
    }
  }
}

// @media (max-width: 900px) {
//   mat-card {
//     width: calc(100% - 40px);
//     margin: 20px;
//   }

//   mat-card-actions {
//     display: grid;
//     grid-template-columns: repeat(6, 1fr);
//     gap: 5px;
//     margin: 0 10px;
//   }
// }
