.container {
  width: 25vw;
}

.mat-card-actions button.mat-button {
  background: #64c75d;
  color: white;
  margin: 8px;
  width: calc(100% - 16px);

  span {
    vertical-align: baseline;
    font-size: x-small;
    padding-left: 2px;
  }

  &.mat-button-disabled.mat-button-disabled {
    background: #bdbdbd;
  }
}

ul {
  padding-left: 15px;

  li {
    list-style: decimal;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 500;

    &::marker {
      font-weight: 600;
      color: #325742;
    }
  }
}

@media (max-width: 800px) {
  .container {
    width: calc(50vw - 60px);
  }
}

@media (max-width: 570px) {
  .container {
    width: calc(75vw - 60px);
  }
}
