.strength {
  margin-right: 40px;
}

.container {
  margin-top: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;

  overflow: hidden;
  grid-gap: 10px;

  > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: fit-content;
    max-width: min-content;
  }
}

.info > * {
  margin-right: 10px;
}
