<div class="strength" *ngIf="activeGame; else gameOver">
  <app-chances [chances]="chances"></app-chances>
  <div class="container">
    <app-card-strength
      *ngIf="word"
      [word]="word"
      [chances]="chances"
      (chanceTrigger)="chances = chances - 1"
      (pointTrigger)="pointTrigger()"
      (gameOverTrigger)="gameOverTrigger($event)"
      [refreshInput]="refreshInput"
    >
    </app-card-strength>
    <div class="info">
      <app-tips
        [tips]="tips"
        [chances]="chances"
        [tipsList]="word?.tips"
        (chancesTrigger)="chances = chances - 1"
        (tipsTrigger)="tips = tips - 1"
      ></app-tips>
      <app-resume
        [chances]="chances"
        [tips]="tips"
        [point]="point"
      ></app-resume>
    </div>
  </div>
</div>

<ng-template #gameOver>
  <app-game-over
    [title]="victory ? 'Vitória' : 'Derrota'"
    [point]="point"
    [subtitle]="
      victory
        ? 'Parabens!! Você consegui zerar o jogo'
        : 'Infelizmente não foi desta vez :('
    "
    (newGame)="newWheel()"
  ></app-game-over>
</ng-template>
