.strength {
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  padding: 24px;
  overflow: hidden;
  max-width: 1000px;
  margin-left: auto;
  .container {
    display: flex;
    justify-content: end;
    grid-gap: 10px;

    .info {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      height: fit-content;
      max-width: min-content;

      > * {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .strength {
    position: relative;
    height: auto;

    .container {
      display: grid;
      justify-content: center;
      grid-template-columns: minmax(280px, calc(100vw - 70px));
      padding-top: 10vh;

      .info {
        justify-self: self-end;
        grid-row: 1;

        > * {
          margin-right: 0;
        }
      }

      app-card-strength {
        grid-column: 1/3;
        grid-row: 2;
      }

      app-chances {
        grid-area: 1/1;
      }
    }
  }
}

@media (max-width: 570px) {
  .strength {
    width: calc(100% - 20px);
    padding: 10px;

    .container {
      padding-top: 0;
      grid-template-columns: minmax(0, 100vw);

      .info {
        transform: scale(0.8);
        min-width: calc(100vw - 24px);
        margin-left: auto;
        margin-right: -9.5vw;
        margin-bottom: -28px;
        padding: 0;
        justify-content: end;
      }
    }
  }
}
