<body>
  <app-chances [chances]="chances"></app-chances>
  <div class="container">
    <app-card-strength [word]="word" (chanceTrigger)="chances = chances - 1">
    </app-card-strength>
    <div class="info">
      <app-resume
        [chances]="chances"
        [tips]="tips"
        [point]="point"
      ></app-resume>
      <app-tips
        [tips]="tips"
        [tipsList]="word?.tips"
        (chancesTrigger)="chances = chances - 1"
        (tipsTrigger)="teste()"
      ></app-tips>
    </div>
  </div>
</body>
