.chances {
  img {
    position: fixed;
    width: 350px;
    bottom: -50px;
    left: -100px;
  }
}

@media (max-width: 800px) {
  .chances img {
    position: relative;
    width: 280px;
    margin-top: -30px;
    margin-left: 45px;
  }
}

@media (max-width: 570px) {
  .chances img {
    width: 44vw;
    max-width: 200px;
    min-width: 100px;
    margin-top: 20px;
  }
}
