.container {
  position: absolute;
  top: 0;
  left: 0;
  background: #f7f4e6;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .elements {
    position: relative;
    width: 100%;
    height: 100%;

    div.bush-1-3 {
      position: relative;
      width: 400px;
      top: 0;
      left: 0;

      .bush-1 {
        position: relative;
        top: -20px;
        left: -100px;
      }

      .bush-3 {
        bottom: 0;
        width: 30%;
        left: 45px;
      }
    }

    img {
      position: absolute;
      width: 100%;

      &.bush-2 {
        width: 200px;
        bottom: -50px;
        right: -50px;
      }

      &.sheet-1,
      &.sheet-2 {
        width: 200px;
        transform: rotate(315deg);
      }

      &.sheet-1 {
        top: -35px;
        right: -65px;
      }

      &.sheet-2 {
        bottom: -35px;
        left: 200px;
      }
    }
  }
}
