.container {
  width: 25vw;
  display: flex;
  justify-content: space-between;

  h1,
  h2,
  h3,
  h5 {
    margin-bottom: 0;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
  }

  h3,
  h1 {
    margin-bottom: 0;
    text-align: end;

    b {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #64c75d;
  }

  > div {
    position: relative;
    display: flow-root;
    margin-top: auto;

    &.last-item::before {
      content: none;
    }

    &::before {
      content: "";
      position: absolute;
      display: flex;
      bottom: 0;
      width: 100%;
      height: 35px;
      padding-right: 20px;
      border-right: 1px solid #dedede;
    }
  }
}

@media (max-width: 800px) {
  .container {
    width: calc(50vw - 60px);
  }
}

@media (max-width: 570px) {
  .container {
    width: calc(75vw - 60px);

    h2 {
      font-size: 1rem;
    }

    > div {
      &::before {
        height: 25px;
        padding-right: 10px;
      }
    }
  }
}
